<mat-horizontal-stepper labelPosition="bottom">
  <!-- Jabers to do -> Start Region -->
  <!-- Application Information Step -->
  <mat-step [stepControl]="applicationInformationForm" state="done">
    <form [formGroup]="applicationInformationForm">
      <ng-template matStepLabel>
        <span [ngStyle]="{'color': applicationInformationFlag ? 'rgb(136, 172, 243)' : 'black'}">
          <mat-icon class="stypeIcon">insert_drive_file</mat-icon>
            Application Information
         </span>
      </ng-template>
      <!-- Do Validations here  -> Jabers
        <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field> -->
      <p style="color: rgb(59,111,184);font-size: 16px;margin-left: 70px">Review Application Information</p>
      <p style="color: rgb(129,129,129);margin-left: 70px">Please review bussiness and authorized signer details</p>  
      <p style="color: rgb(59,111,184);font-size: 16px;margin-left: 70px">Bussiness information</p>
      

      <mat-form-field style=" margin-left: 70px;font-size: 16px;" appearance="outline">
        <mat-label>Enitity name</mat-label>
        <input matInput class="input">
      </mat-form-field>
      <mat-form-field style="margin-left: 10px; font-size: 16px;" appearance="outline">
        <mat-label>DBA or Tradername(if applicable)</mat-label>
        <input matInput>
      </mat-form-field>
      
      <mat-form-field style="margin-left: 10px; font-size: 16px;" appearance="outline">
        <mat-label>Tax Identification Number/SSN if sole Prop</mat-label>
        <input matInput >
      </mat-form-field>
      <br>
      <mat-form-field style="margin-left: 70px; font-size: 16px;" appearance="outline">
        <mat-label>Street Name</mat-label>
        <input matInput >
      </mat-form-field>
     
      <mat-form-field style="margin-left: 10px; font-size: 16px;" appearance="outline">
        <mat-label>Apt,Suite,Bidg,etc</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field style="margin-left: 10px; font-size: 16px;" appearance="outline">
        <mat-label>City</mat-label>
        <input matInput >
      </mat-form-field>
      <br>
      <mat-form-field style="margin-left: 70px; font-size: 16px; width:155px" appearance="outline">
        <mat-label>State</mat-label>
        <input matInput >
      </mat-form-field>
     
      <mat-form-field style="margin-left: 10px; font-size: 16px; width:152px" appearance="outline">
        <mat-label>Zipcode</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field style="margin-left: 18px; font-size: 16px;" appearance="outline">
        <mat-label>Business Phone Number</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field style="margin-left: 10px; font-size: 16px;" appearance="outline">
        <mat-label>Business Email Address</mat-label>
        <input matInput>
      </mat-form-field>
      <p style="color:rgb(59,111,184);font-size: 16px;margin-left: 70px">Authorized Signer Information</p>   
      <mat-form-field style=" margin-left: 70px;font-size: 16px;" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput class="input">
      </mat-form-field>
      <mat-form-field style="margin-left: 10px; font-size: 16px;" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput>
      </mat-form-field>
      
      <mat-form-field style="margin-left: 10px; font-size: 16px;" appearance="outline">
        <mat-label>Street Name</mat-label>
        <input matInput >
      </mat-form-field>
      <br>
      <mat-form-field style="margin-left: 70px; font-size: 16px;" appearance="outline">
        <mat-label>Apt,Suite,Bidg etc</mat-label>
        <input matInput >
      </mat-form-field>
     
      <mat-form-field style="margin-left: 10px; font-size: 16px;" appearance="outline">
        <mat-label>City</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field style="margin-left: 10px; font-size: 16px;width:155px" appearance="outline">
        <mat-label>State</mat-label>
        <input matInput >
      </mat-form-field>
      <mat-form-field style="margin-left: 10px; font-size: 16px;width:165px" appearance="outline">
        <mat-label>Ziipcode</mat-label>
        <input matInput >
      </mat-form-field>
      <p style="color: rgb(59,111,184);font-size: 16px;margin-left: 70px">Contact Information</p> 
      <p style="color: rgb(129,129,129);margin-left: 70px">There will be a phone number and email PNC will correspond with</p>
      <mat-form-field style="margin-left: 70px; font-size: 16px;" appearance="outline">
        <mat-label>Contact Phone Number</mat-label>
        <input matInput >
      </mat-form-field>
     
      <mat-form-field style="margin-left: 10px; font-size: 26px;" appearance="outline">
        <mat-label>Contact Email Address</mat-label>
        <input matInput>
      </mat-form-field>
      
      <!-- Jabers -->
      <div>
      <button class="goBackButton">Go Back</button>
        <button mat-button matStepperNext class="continueButton" (click)="highlightForgivenessQuestions()">Continue</button>
      </div>
    </form>
  </mat-step>
<!-- Jabers to do -> End Region -->

<!-- Malathi to do -> Start Region -->
<!-- Forgiveness Questions Step -->
  <mat-step [stepControl]="forgivenessQuestionsForm" state="done">
    <form [formGroup]="forgivenessQuestionsForm">
      <ng-template matStepLabel>
        <span [ngStyle]="{'color': forgivenessQuestionsFlag ? 'rgb(136, 172, 243)' : 'black'}">
          <mat-icon class="stypeIcon">description</mat-icon>
          Forgiveness Questions
         </span>
      </ng-template>
      <!-- Do Validations here  -> Malathi
        <mat-form-field style="margin-left: 10px; font-size: 16px;" appearance="outline">
        <mat-label>Test</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Forgiveness Questions">
      </mat-form-field> -->
      <mat-card>
        <mat-radio-group>
         <p>This is the first question of this page</p>
            <mat-radio-button class value=1 >Yes</mat-radio-button>
            <mat-radio-button value=2 >No</mat-radio-button>
           </mat-radio-group>
       </mat-card>
       <mat-card>
         <mat-radio-group>
          <p>This is the second question of this page</p>
          <mat-radio-button value=1 >Yes</mat-radio-button>
          <mat-radio-button value=2 >No</mat-radio-button>
         </mat-radio-group>
         </mat-card>
         <mat-card>
           <mat-radio-group>
          <p>This is the  third question of this page</p>
          <mat-radio-button value=1 >Yes</mat-radio-button>
          <mat-radio-button value=2 >No</mat-radio-button>
           </mat-radio-group>
         </mat-card>
       <mat-card>
         <mat-radio-group>
          <p>This is the fourth question of this page</p>
          <mat-radio-button value=1 >Yes</mat-radio-button>
          <mat-radio-button value=2 >No</mat-radio-button>
         </mat-radio-group>
         </mat-card> 
       
      <!-- Malathi -->
      <div>
        <button mat-button matStepperPrevious (click)="highlightApplicationInformation()">Go Back</button>
        <button mat-button matStepperNext (click)="highlightForgivenessAmount()">Continue</button>
      </div>
    </form>
  </mat-step>
  <!-- Malathi to do -> End Region -->

  <!-- Forgiveness Amount Step -->
  <mat-step [stepControl]="forgivenessAmountForm" state="done">
    <form [formGroup]="forgivenessAmountForm">
      <ng-template matStepLabel>
        <span [ngStyle]="{'color': forgivenessAmountFlag ? 'rgb(136, 172, 243)' : 'black'}">
          <mat-icon class="stypeIcon" style="margin-left: 54px;">attach_money</mat-icon>
          Forgiveness Amount
         </span>
      </ng-template>
      <mat-form-field style="margin-left: 10px; font-size: 16px;" appearance="outline">
        <mat-label>Payroll Costs</mat-label>
        <input matInput formControlName="payrollCosts" placeholder="Forgiveness Amount">
      </mat-form-field>
      <mat-form-field style="margin-left: 10px; font-size: 16px;" appearance="outline">
        <mat-label>Covered Mortgage Interest</mat-label>
        <input matInput formControlName="coveredMortgageInterest" placeholder="Forgiveness Amount">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious (click)="highlightForgivenessQuestions()">Go Back</button>
        <button mat-button matStepperNext (click)="highlightDocumentUpload()">Continue</button>
      </div>
    </form>
  </mat-step>

  <!-- Document Upload Step -->
  <mat-step [stepControl]="documentUploadForm" state="done">
    <form [formGroup]="documentUploadForm">
      <ng-template matStepLabel>
        <span [ngStyle]="{'color': documentUploadFlag ? 'rgb(136, 172, 243)' : 'black'}">
          <mat-icon class="stypeIcon" style="margin-left: 45px;">open_in_browser</mat-icon>
          Document Upload
         </span>
      </ng-template>
      <mat-form-field style="margin-left: 10px; font-size: 16px;" appearance="outline">
        <mat-label>Test</mat-label>
        <input matInput placeholder="Document Upload">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious (click)="highlightForgivenessAmount()">Go Back</button>
        <button mat-button matStepperNext (click)="highlightReviewAndTerms()">Continue</button>
      </div>
    </form>
  </mat-step>

  <!-- Review And Terms Step -->
  <mat-step [stepControl]="reviewAndTermsForm" state="done">
    <form [formGroup]="reviewAndTermsForm">
      <ng-template matStepLabel>
        <span [ngStyle]="{'color': reviewAndTermsFlag ? 'rgb(136, 172, 243)' : 'black'}">
          <mat-icon class="stypeIcon" style="margin-left: 47px;">rate_review</mat-icon>
          Review And Terms
         </span>
      </ng-template>
      <mat-form-field style="margin-left: 10px; font-size: 16px;" appearance="outline">
        <mat-label>Test</mat-label>
        <input matInput placeholder="Review and Terms">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious (click)="highlightDocumentUpload()">Go Back</button>
        <button mat-button matStepperNext>Submit Application</button>
      </div>
    </form>
  </mat-step>

  <ng-template matStepperIcon="done">
    <mat-icon>done</mat-icon>
  </ng-template>
  
</mat-horizontal-stepper>